body {
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:100%;
  font-family: 'Josefin Sans', sans-serif;

}

.header {
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:30vw;
  min-height:410px;
  max-height:410px;
  min-width:410px;
  color:#eee;
}

.header:after {
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #bebebe78 100%);
}

.header:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(90) scale(1.0, 5.0);
    transform: translateZ(0);
  background: url(https://cdn.dribbble.com/users/1751407/screenshots/3624527/explosion_medium_01_dribbble.gif) top center no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 20s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-20
}

/* .header a {
  color:#eee
} */

.menu {
  display:block;
  width:30px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}

.menu:after {
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}

.logo {
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  margin:20px;
  padding:5px 10px;
  font-weight:600;
  font-size:1.2em;
  box-sizing:border-box
}

.sides, .info {
  flex: 0 0 auto;
  width:50%
}

.info {
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.author {
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://pp.userapi.com/c850332/v850332781/4c3d7/7fbND0Gji9I.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}

.watch {
  margin:20px;
  padding:10px 10px;
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://image.flaticon.com/icons/png/512/131/131258.png) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}

.info h4, .meta {
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow {
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
.content {
  padding:5% 10%;
  text-align:justify
}
.btn {
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr {
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}

/* ******* *\
    CARDS
\* ******* */

.card-container {
    font-family: 'Lato';
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 10px 00px 10px;
}

.card {
    display: inline-block;
    max-width: 410px;
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 0px 12px 0 rgba(0,0,0,.4);
    margin-bottom: 25px;
}

.card__image,
.card__image img {
    max-width: 100%;
    width: 100%;
}

.card__textContent {
    display: inline-block;
    background-color: white;
    margin: -30px auto 0 auto;
    width: 80%;
    padding: 20px 10px;
}

.card__title {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, .1);
}

.card__title-main {
    font-size: 1.2rem;
    font-weight: 700;
}

.card__title-sub {
    color: rgba(0, 0, 0, .6);
    font-size: 1.2rem;
    font-style: italic;
}

.card__content {
    color: rgba(0, 0, 0, .8);
    text-align: justify;
    margin-bottom: 25px;
    line-height: 1.6rem;
}

@media screen and (min-width: 1170px) {

    .card-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1680px) {

    .card-container {
        display: block;
        padding-bottom: 1px;
    }

    .card {
        max-width: 1024px;
        text-align: left;
        padding: 0;
        display: flex;
        margin: 0 auto 25px auto;
    }

    .card__image {
        max-width: 66%;
        text-align: left;
        /* This should be changed by JS
        background-image: url("/images/mountain-3.jpeg"); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card__image img {
        display: none;
    }

    .card__textContent {
        display: inline-block;
        width: 65%;
        margin: 12px 0 0 -30px;
        padding: 25px;
    }

    .card__title {
        text-align: left;
    }
}
